@model MVC1Crud.Models.Group

@{
    ViewBag.Title = "Detials";
}
<h1>Details</h1>
<h4>Group</h4>
<hr />

<div>
    <dl class = "row">
    
            <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GroupName)
        </dt>
         <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GroupName)
        </dd>
            <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
         <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
    </dl>
</div>
<div>
    <a asp-action = "Edit" asp-route-id = "@Model?.Id">Edit</a>
    <a asp-action = "Index" >Back to the List</a>
</div>